<div class="splash">
  <img src="<%=asset_path('logo_white.svg') %>" alt="MoneyCTRL" />

  <% if user_signed_in? %>            
    <%=
      link_to 'Go to Trasactions', transactions_path,
        class: 'btn btn-sm btn-outline-light btn-href',
        role: 'button'
    %>
  <% else %>
    <%=
      link_to 'Sign In', user_session_path,
        class: 'btn btn-sm btn-outline-light btn-href',
        role: 'button'
    %>             
  <% end %>  
</div>
