@font-face {
  font-family: 'proxima_nova_regular';
  src: url('./fonts/proxima_nova_regular-webfont.woff2') format('woff2'),
       url('./fonts/proxima_nova_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_bold';
  src: url('./fonts/proxima_nova_bold-webfont.woff2') format('woff2'),
       url('./fonts/proxima_nova_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$border-radius: 0;
$padding: 10px;
$image-circle-size: 100px;
$transition: 0.5s;

//Colors
$danger: #fd3654;
$primary: #3778C2;
$success: #5fb523;
$dark: #434b54;
$silver: #f1f3f2;

html {
  font-size: 16px;
}

body {
  background-color: $silver !important;
  font-family: 'proxima_nova_regular', monospace !important;
}

h1 {
  color: $primary;
  font-family: 'proxima_nova_bold', monospace, sans-serif;
}

header {
  background-color: $primary;
  color: white;
  height: 60px;
  margin-bottom: $padding;
}

// xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
// xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx DESKTOP VERSION xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
// xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

@media only screen and (min-width: 768px) {

}

@import "bootstrap";
