@font-face {
  font-family: 'proxima_nova_regular';
  src: url('../fonts/proximanova-regular-webfont.woff2') format('woff2'),
       url('../fonts/proximanova-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_black';
  src: url('proxima_nova_black-webfont.woff2') format('woff2'),
       url('proxima_nova_black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$padding: 10px;
$image-circle-size: 100px;
$transition: 0.5s;

//Colors
$color-background: white;
$danger: #fd3654;
$primary: #129575;
$silver: #d9dadb;

html {
  font-size: 16px;
}

body {
  background-color: $color-background !important;
  font-family: 'proxima_nova_regular', sans-serif;
}

a {
  text-decoration: none !important;

  &:hover {
    text-decoration: underline !important;
  }
}

h1 {
  font-family: 'proxima_nova_regular', sans-serif;
}

@media only screen and (min-width: 768px) {
  .icon-time {
    height: 64px;
    width: 64px;
  }
}

@import "bootstrap";
